In [23]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from imblearn.over_sampling import SMOTE
from sklearn.svm import SVC
import xgboost as xgb
import warnings
warnings.filterwarnings('ignore')

In [24]:
data=pd.read_csv("train.csv")
data.shape

(10500, 5)

In [25]:
data.head(5)

,session_id,startTime,endTime,ProductList,gender
0,u16159,15/12/14 18:11,15/12/14 18:12,A00002/B00003/C00006/D28435/;A00002/B00003/C00...,female
1,u10253,16/12/14 14:35,16/12/14 14:41,A00001/B00009/C00031/D29404/;A00001/B00009/C00...,male
2,u19037,01/12/14 15:58,01/12/14 15:58,A00002/B00001/C00020/D16944/,female
3,u14556,23/11/14 2:57,23/11/14 3:00,A00002/B00004/C00018/D10284/;A00002/B00004/C00...,female
4,u24295,17/12/14 16:44,17/12/14 16:46,A00001/B00001/C00012/D30805/;A00001/B00001/C00...,male

In [26]:
#data=data.rename({"session_id":"id","startTime":"start","endTime":"end"},axis="columns")
data.gender.value_counts()

female    8192
male      2308
Name: gender, dtype: int64

In [27]:
data.head()

,session_id,startTime,endTime,ProductList,gender
0,u16159,15/12/14 18:11,15/12/14 18:12,A00002/B00003/C00006/D28435/;A00002/B00003/C00...,female
1,u10253,16/12/14 14:35,16/12/14 14:41,A00001/B00009/C00031/D29404/;A00001/B00009/C00...,male
2,u19037,01/12/14 15:58,01/12/14 15:58,A00002/B00001/C00020/D16944/,female
3,u14556,23/11/14 2:57,23/11/14 3:00,A00002/B00004/C00018/D10284/;A00002/B00004/C00...,female
4,u24295,17/12/14 16:44,17/12/14 16:46,A00001/B00001/C00012/D30805/;A00001/B00001/C00...,male

In [28]:
df=data.iloc[:,:-1]
df.head()

,session_id,startTime,endTime,ProductList
0,u16159,15/12/14 18:11,15/12/14 18:12,A00002/B00003/C00006/D28435/;A00002/B00003/C00...
1,u10253,16/12/14 14:35,16/12/14 14:41,A00001/B00009/C00031/D29404/;A00001/B00009/C00...
2,u19037,01/12/14 15:58,01/12/14 15:58,A00002/B00001/C00020/D16944/
3,u14556,23/11/14 2:57,23/11/14 3:00,A00002/B00004/C00018/D10284/;A00002/B00004/C00...
4,u24295,17/12/14 16:44,17/12/14 16:46,A00001/B00001/C00012/D30805/;A00001/B00001/C00...

In [29]:
# df = \
# (df.set_index(df.columns.drop('ProductList',1).tolist())
#      .ProductList.str.split(';', expand=True)
#      .stack()
#      .reset_index()
#      .rename(columns={0:'ProductList'})
#      .loc[:, df.columns]
# )

# df.head()

In [30]:
#<------
#Using Three level Feature 532
#USing two level feature 110
#------->



# def extract_data(str):
#     count=0
#     if ";" in str:
#         prd_list=str.split(";")
#         while ("" in prd_list):
#             prd_list.remove("")
#         count=len(prd_list)
#        # print(prd_list)
#         first_lv1 = prd_list[0].split("/")[0]    
#         first_lv2 = prd_list[0].split("/")[1]
#         first_lv3 = prd_list[0].split("/")[2]
#         #print(first_lv2)
#         lv1_list =[]
#         lv2_list =[]
#         lv3_list =[]
#         for item in prd_list:
#             lv1_list.append(item.split("/")[0])
#             lv2_list.append(item.split("/")[1])
#             lv3_list.append(item.split("/")[2])         
#         #print(lv2_list)
#         #print(lv3_list)
#         unique_lv1 = len(set(lv1_list))
#         #print(unique_lv1)
#         unique_lv2 = len(set(lv2_list))
#         unique_lv3 = len(set(lv3_list))
#         most_freq_lv1 =  max(lv1_list, key=Counter(lv1_list).get)
#         most_freq_lv2 =  max(lv2_list, key=Counter(lv2_list).get)
#         most_freq_lv3 =  max(lv3_list, key=Counter(lv3_list).get)
#         #print(most_freq_lv1)
#     else:
#         lv_lst = str.split("/")
#         first_lv1 = lv_lst[0]
#         #print(lv_lst[3])
#         first_lv2 = lv_lst[1]
#         first_lv3 = lv_lst[1]
#         count_item = 1
#         unique_lv1 = 1
#         unique_lv2 = 1
#         unique_lv3 = 1
#         most_freq_lv1 = first_lv1
#         most_freq_lv2 = first_lv2
#         #print(first_lv1)
#        # print(first_lv2)
#     return (count,first_lv1,first_lv2,first_lv3,unique_lv1,unique_lv2,unique_lv3,most_freq_lv1,most_freq_lv2)
# new_col = ('NumProduct','FirstA','FirstB','FirstC','UniqueA','UniqueB','UniqueC','MostA','MostB') 
# new_col_lst = df['ProductList'].apply(lambda x: extract_data(x)) 
# new_col_df = pd.DataFrame(new_col_lst.tolist(),columns =new_col)
# new_col_df.head()

In [31]:
def extract_data(str):
    count=0
    if ";" in str:
        prd_list=str.split(";")
        while ("" in prd_list):
            prd_list.remove("")
        count=len(prd_list)
       # print(prd_list)
        first_lv1 = prd_list[0].split("/")[0]    
        first_lv2 = prd_list[0].split("/")[1]
        lv1_list =[]
        lv2_list =[]
        for item in prd_list:
            lv1_list.append(item.split("/")[0])
            lv2_list.append(item.split("/")[1])
                
       # print(lv1_list)
        unique_lv1 = len(set(lv1_list))
       # print(unique_lv1)
        unique_lv2 = len(set(lv2_list))
        most_freq_lv1 =  max(lv1_list, key=Counter(lv1_list).get)
        most_freq_lv2 =  max(lv2_list, key=Counter(lv2_list).get)
        #print(most_freq_lv1)
    else:
        lv_lst = str.split("/")
        first_lv1 = lv_lst[0]
        #print(lv_lst[3])
        first_lv2 = lv_lst[1]
        count_item = 1
        unique_lv1 = 1
        unique_lv2 = 1
        most_freq_lv1 = first_lv1
        #print(first_lv1)
       # print(first_lv2)
    return (count,first_lv1,first_lv2,unique_lv1,unique_lv2,most_freq_lv1)

In [32]:
extract_data("a/b/c/d")

(0, 'a', 'b', 1, 1, 'a')

In [33]:
new_col = ('NumProduct','FirstA','FirstB','UniqueA','UniqueB','MostA') 
new_col_lst = df['ProductList'].apply(lambda x: extract_data(x)) 
new_col_df = pd.DataFrame(new_col_lst.tolist(),columns =new_col)
new_col_df.head()

   NumProduct  FirstA  FirstB  UniqueA  UniqueB   MostA
0           4  A00002  B00003        1        1  A00002
1           7  A00001  B00009        1        1  A00001
2           0  A00002  B00001        1        1  A00002
3           3  A00002  B00004        1        1  A00002
4           2  A00001  B00001        1        1  A00001

In [34]:
df=pd.concat([data.iloc[:,:-1],new_col_df],axis=1)
df.head()

,session_id,startTime,endTime,ProductList,NumProduct,FirstA,FirstB,UniqueA,UniqueB,MostA
0,u16159,15/12/14 18:11,15/12/14 18:12,A00002/B00003/C00006/D28435/;A00002/B00003/C00...,4,A00002,B00003,1,1,A00002
1,u10253,16/12/14 14:35,16/12/14 14:41,A00001/B00009/C00031/D29404/;A00001/B00009/C00...,7,A00001,B00009,1,1,A00001
2,u19037,01/12/14 15:58,01/12/14 15:58,A00002/B00001/C00020/D16944/,0,A00002,B00001,1,1,A00002
3,u14556,23/11/14 2:57,23/11/14 3:00,A00002/B00004/C00018/D10284/;A00002/B00004/C00...,3,A00002,B00004,1,1,A00002
4,u24295,17/12/14 16:44,17/12/14 16:46,A00001/B00001/C00012/D30805/;A00001/B00001/C00...,2,A00001,B00001,1,1,A00001

In [35]:
df['startTime'] = pd.to_datetime(df['startTime'])
df['endTime'] = pd.to_datetime(df['endTime'])
df['duration'] = df['endTime'] - df['startTime']
df['duration'] = df['duration'].astype('timedelta64[m]')
df['weekday'] = df['startTime'].dt.dayofweek
df['hour_24h'] = df['startTime'].dt.hour
df.head()

,session_id,startTime,endTime,ProductList,NumProduct,FirstA,FirstB,UniqueA,UniqueB,MostA,duration,weekday,hour_24h
0,u16159,2014-12-15 18:11:00,2014-12-15 18:12:00,A00002/B00003/C00006/D28435/;A00002/B00003/C00...,4,A00002,B00003,1,1,A00002,1.0,0,18
1,u10253,2014-12-16 14:35:00,2014-12-16 14:41:00,A00001/B00009/C00031/D29404/;A00001/B00009/C00...,7,A00001,B00009,1,1,A00001,6.0,1,14
2,u19037,2014-01-12 15:58:00,2014-01-12 15:58:00,A00002/B00001/C00020/D16944/,0,A00002,B00001,1,1,A00002,0.0,6,15
3,u14556,2014-11-23 02:57:00,2014-11-23 03:00:00,A00002/B00004/C00018/D10284/;A00002/B00004/C00...,3,A00002,B00004,1,1,A00002,3.0,6,2
4,u24295,2014-12-17 16:44:00,2014-12-17 16:46:00,A00001/B00001/C00012/D30805/;A00001/B00001/C00...,2,A00001,B00001,1,1,A00001,2.0,2,16

In [36]:
print(df["startTime"][0])
print(df["weekday"][0])

2014-12-15 18:11:00
0

In [37]:
drop_lst = ['session_id', 'startTime', 'endTime', 'ProductList']
df = df.drop(drop_lst,axis =1 )
df.head()

,NumProduct,FirstA,FirstB,UniqueA,UniqueB,MostA,duration,weekday,hour_24h
0,4,A00002,B00003,1,1,A00002,1.0,0,18
1,7,A00001,B00009,1,1,A00001,6.0,1,14
2,0,A00002,B00001,1,1,A00002,0.0,6,15
3,3,A00002,B00004,1,1,A00002,3.0,6,2
4,2,A00001,B00001,1,1,A00001,2.0,2,16

In [38]:
da=pd.get_dummies(df)
da.shape

(10500, 110)

In [39]:
test_data=pd.read_csv("test.csv")
test_data.shape

(4500, 4)

In [40]:
test_data.head(2)

  session_id       startTime         endTime                   ProductList
0     u12112  08/12/14 13:36  08/12/14 13:36  A00002/B00003/C00006/D19956/
1     u19725  19/12/14 13:52  19/12/14 13:52  A00002/B00005/C00067/D02026/

In [41]:
X=da
X.shape

(10500, 110)

In [42]:
Y=data['gender'].map({'female':1,'male':0})
Y.shape

(10500,)

In [44]:

newx=da.iloc[:,:].values
newy=Y.values
newy.shape
newx=StandardScaler().fit_transform(newx)
newx=pd.DataFrame(newx)
newx.head()

,0,1,2,3,4,5,6,7,8,9,...,100,101,102,103,104,105,106,107,108,109
0,0.882860,-0.19649,-0.338453,-0.002686,-1.548876,0.743959,-0.421495,0.749380,-0.420084,-0.116248,...,0.748760,-0.421338,-0.115826,-0.140408,-0.10242,-0.048853,-0.044766,-0.049823,-0.067055,-0.069171
1,2.026460,-0.19649,-0.338453,-0.002399,-1.045278,-0.036866,2.372507,-1.334436,-0.420084,-0.116248,...,-1.335541,-0.421338,-0.115826,-0.140408,-0.10242,-0.048853,-0.044766,-0.049823,-0.067055,-0.069171
2,-0.641941,-0.19649,-0.338453,-0.002744,1.472713,0.158340,-0.421495,0.749380,-0.420084,-0.116248,...,0.748760,-0.421338,-0.115826,-0.140408,-0.10242,-0.048853,-0.044766,-0.049823,-0.067055,-0.069171
3,0.501659,-0.19649,-0.338453,-0.002571,1.472713,-2.379343,-0.421495,0.749380,-0.420084,-0.116248,...,0.748760,-0.421338,-0.115826,-0.140408,-0.10242,-0.048853,-0.044766,-0.049823,-0.067055,-0.069171
4,0.120459,-0.19649,-0.338453,-0.002629,-0.541680,0.353547,2.372507,-1.334436,-0.420084,-0.116248,...,-1.335541,-0.421338,-0.115826,-0.140408,-0.10242,-0.048853,-0.044766,-0.049823,-0.067055,-0.069171

In [45]:
# from sklearn.decomposition import PCA
# pca = PCA()
# x_pca = pca.fit_transform(newx)
# x_pca = pd.DataFrame(x_pca)
# x_pca.head()

In [46]:
# explained_variance = pca.explained_variance_ratio_
# count=0
# for i in explained_variance:
#     if(i>0.03):
#         print(count,explained_variance)

In [47]:
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.25,random_state=4)

In [48]:
xtrain.shape

(7875, 110)

In [49]:
ytest.shape

(2625,)

In [50]:
#oversampling as male:female is 4:1

sm = SMOTE(random_state=12,)
xtrain, ytrain = sm.fit_sample(xtrain, ytrain)

## logistic regression

In [51]:

logmodel=LogisticRegression()
logmodel.fit(xtrain,ytrain)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [52]:
prediction=logmodel.predict(xtest)
print(f1_score(prediction,ytest))
print(accuracy_score(prediction,ytest))

0.8990291262135922
0.8415238095238096

## knn

In [53]:

knn=KNeighborsClassifier(n_neighbors=5)
knn.fit(xtrain,ytrain)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [54]:
predictionknn=knn.predict(xtest)
print(f1_score(predictionknn,ytest))

0.8516063233044365

## SVM

In [ ]:

svc = SVC(kernel='linear')
svc.fit(xtrain, ytrain)

In [ ]:
predictionk=svc.predict(xtest)
print(f1_score(predictionk,ytest))

## dt

In [55]:

dt = DecisionTreeClassifier(max_depth=7)
m = dt.fit(xtrain, ytrain)

In [56]:
predictiondt=dt.predict(xtest)
print(f1_score(predictiondt,ytest))

0.9172967863894139

## randomtreeclassifier

In [57]:

rfc= RandomForestClassifier(class_weight = {1:0.3,0:.1},random_state=102)
rfc.fit(xtrain,ytrain)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                       class_weight={0: 0.1, 1: 0.3}, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       max_samples=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       n_estimators=100, n_jobs=None, oob_score=False,
                       random_state=102, verbose=0, warm_start=False)

In [58]:
rfpredict=rfc.predict(xtest)
f1_score(rfpredict,ytest)

0.895673076923077

## XGBOOST

In [ ]:
D_train = xgb.DMatrix(xtrain, label=ytrain)
D_test = xgb.DMatrix(xtest, label=ytest)

In [ ]:
param = {
    'eta': 0.3, 
    'max_depth': 3,  
    'objective': 'multi:softprob',  
    'num_class': 3} 
steps = 20 

model = xgb.train(param, D_train, steps)

In [ ]:
preds = model.predict(D_test)
best_preds = np.asarray([np.argmax(line) for line in preds])
print(f1_score(ytest, best_preds))